# Virtual environment
env/
venv/

# YOLO outputs
runs/

# Python cache
__pycache__/
*.pyc

# Model weights
*.pt
*.pkl
*.h5

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

Thumbs.db

# Large / unnecessary files
*.docx
*.mp3
*.whl
*.ipynb

# Temporary / output folders
detected_images/
test/
train/
runs/

# VS Code
.vscode/

# Temporary python file
tempCodeRunnerFile.py

Thumbs.db

